<ul class="flex flex-col gap-4 mt-4">
  <li
    [routerLink]="['/dashboard/tests']"
    routerLinkActive="bg-cyan-700"
    class="bg-cyan-500 hover:bg-cyan-600 h-10">
    InputTest
  </li>
  <li
    class="li"
    [routerLink]="['/dashboard/Grafica']"
    routerLinkActive="bg-cyan-700"
    class="bg-cyan-500 hover:bg-cyan-600 h-10 align-middle text-center">
    Grafica ng2-charts
  </li>
  <li
    class="li"
    [routerLink]="['/dashboard/GraficaApex']"
    routerLinkActive="bg-cyan-700"
    class="bg-cyan-500 hover:bg-cyan-600 h-10 align-middle text-center">
    Grafica ApexCharts
  </li>
  <li
    class="li"
    [routerLink]="['/dashboard/pdfTest']"
    routerLinkActive="bg-cyan-700"
    class="bg-cyan-500 hover:bg-cyan-600 h-10 align-middle text-center">
    Pdf's
  </li>
</ul>
